@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/** Section_1 **/
*{
 font-family: 'Poppins', sans-serif;;
}
.section_1 {
    background-color: #f2caad(247, 247, 247);
    margin: 0px 100px;
    padding: 30px 100px;
    border-radius: 10px;
}
.weight {
    font-weight: 900;
}

/** Head **/

.head_content {
    text-align: left;
    font-size: 22px;
    font-weight: 900;
}
.head_icon {
    text-align: right;
    height: 20px;
    width: auto;
}
.icon_right {
    margin-left: 400px;
}
/** Person_info **/

/** info_1 **/

.person_info {
    border-radius: 10px;
    margin-top: 25px;
    overflow: hidden;
    border: 1px solid black;
}
.info_1 {
    background-color:  #ee9ca7;
    max-height: 190px;
    border-radius: 10px;
    padding: 30px;
    color: black;
}
.person_img {
    border: 2px solid rgba(196, 167, 167, 0.751);
    width: 110px;
    height: auto;
}
.person_detail {
    margin-left: -40px;
}
.person_name {
    font-size: 33px;
    font-weight: 900;
}
.person_as {
    font-size: 20px;
    font-weight: 900;
    margin: 7px 0 14px 0;
}
.person_button {
    display: inline;
}
#down_btn {
    background-color: rgb(172, 205, 210);
    border-radius: 90px;
    color: #000;
    font-size: 13px;

}
#down_btn:hover{
    background-color:rgba(172, 205, 210,0.5) ;
    transition: 5ms;
}
#hire_btn {
    background-color: rgb(80, 189, 226);
    border-radius: 50px;
    font-size: 13px;
}

#hire_btn:hover{
    background-color: rgba(80, 189, 226,0.5);
    transition: 5ms;
}

/**  info_2  **/

.info_2 {
    padding: 18px;
}
.about_me {

    text-align: justify;
    font-size: 16px;
    font-weight: 1000;
    margin: 10px 0;
}
.passage {
    text-align: justify;
    font-size: 11px;
    font-weight: 800;
}
.person_property, .person_value {
    text-align: left;
    font-size: 11px;
    margin-top: 20px;
}

/**  info_3**/

.info_3 {
    padding: 20px;
    font-size: 12px;
    font-weight: 500;
}
.skill_head {
    font-size: 16px;
    margin: 20px 0 0 20px;
}
.lang_2, .lang_3 {
    margin-top: 10px;
}